html{
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    text-align: center;

    font-family: sans-serif;
}

input {
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 6px;
    width: 560px;
    height: 80px;

    font-size: 18px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.key {
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    border: none;

    background-color: #79af8ecc;

    cursor: pointer;
}

.key:hover {
    background-color: #568a6bc6;
}

.key:active {
    background-color: #053918b1;
}

.key:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.row {
    display: flex;
}


.backspace {
    width: 122px;
}

.space {
    width: 300px;
}

.shift {
    width: 98px;
}

.ctrl,
.alt {
    width: 61px;
}

.tab {
    width: 80px;
}

.caps-lock {
    width: 94px;
}

.lang {
    width: 80px;
    background-color: #079e9750;
    border: 1px solid #053918b1;
    border-radius: 50px;
}



.key.pressed,
.active-key {
background-color: #30a6aaa8;
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.168);
}